h1{
    color:red;
    text-align: center;
}
h2{
    color:red;
    text-align: center;
    text-decoration: underline;
}
p{
    margin:20px 0;
    line-height: 1.5;
}
img{
    margin:20px auto;
    display:block;
    padding:15px 10px 15px 10px;
    max-width:100%;
    border-radius: 10px;
}
button{
    display: block;
    margin: 20px auto;
    background-color: #fa2727;
    color:white;
    font-size: 20px;
    padding: 15px 10px;
    border:none;
    border-radius: 4px;
    box-shadow: rgb(29,28,27);
    transition: all 200ms ease-in-out;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:15px 50px;
    background-color: #c0c0c0;
}
.learn-more{
    color:blueviolet;
    text-decoration: none;
    font-size: 14px;
}
.learn-more:hover{
    text-decoration: underline;
}
.shalom-details{
    text-align:center;
}
.Footer{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
